<% title "El Festival" %>

<section id="middle_content">
  <div class="entry">
    <div class="cmsms_cc">
      <div class="one_half first_column">
        <p style="text-align: center;">
          <img src="/assets/vendor/riviera/images/img/about_1.jpg" alt="" class="max_width" />
        </p>
      </div>
      <div class="one_half">
        <h3>Una forma diferente de desarrollar la creatividad</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.</p>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.</p>
      </div>
      <div class="one_first first_column">
        <div class="divider"></div>
      </div>

      <div class="one_first first_column">
        <h2>Objetivos</h2>
      </div>

      <div class="one_first first_column">
        <ul>
          <li>Dar una oportunidad al impulso creativo de los jóvenes; que puedan utilizar
          el cine como un espacio de encuentro y expresión de sus  inquietudes.</li>
          <li>Continuar construyendo la marca <i>CineCiutat</i>, un cine ciutadadano, pro-activo e
          interactivo, que no solamente transmite cultura, sinó que la genera. </li>
          <li>Contribuir a la Campanya DCP. La recaudación del Festival se puede destinar a
          la compra de un DCP. <i>Es tu cine, digitalízalo!</i></li>
        </ul>
      </div>

      <div class="one_first first_column">
        <h2>Las bases</h2>
      </div>

      <div class="one_first first_column">
        <ul>
          <li><strong>1.</strong> Podrán participar realizadores de 13 a 18 anys de cualquier nacionalidad.</li>
          <li><strong>2.</strong> Tema libre. Cada autor puede presentar el número de cortos que desee.</li>
          <li><strong>3.</strong> Pueden ser en catalán, castellano o en cualquier otro idioma, que se tendrán que subtitular en catalán o castellano.</li>
          <li><strong>4.</strong> Los cortos tendrán una duración máxima de 10 minutos, incluyendo créditos , y ser de realización no anterior al 2013.</li>
          <li><strong>5.</strong>  Para la inscripción deberá rellenarse la hoja de inscripción ( on line?) y se abonarán 15 euros (pendiente ver como) que se destinarán a los gastos del Festival y a contribuir en la campaña de digitalización del cine.</li>
          <li><strong>6.</strong> No se admitirán cortos con finalidad publicitaria, ni montajes parciales de material audiovisual con  derechos de autor.</li>
          <li><strong>7.</strong> Los cortos no podrán contener declaraciones, información o hechos que puedan denigrar o perjudicar a ninguna persona o grupo de personas.</li>
          <li><strong>8.</strong> Los 30 cortos más votados se proyectarán en el Festival. 25 seran votados por el público y 5 por el jurado.</li>
          <li><strong>9.</strong> El Festival se reserva el derecho de utilizar las obras seleccionadas para hacer difusión y promoción del Festival en futuras ediciones.</li>
          <li><strong>10.</strong> En caso de que el corto incorpore imágenes o voces de menores, se deberá rellenar una hoja de autorización firmada por el tutor legal de cada menor.</li>
        </ul>

        <%= link_to "Envía tu corto", [:new, :short_film, :short_film_user], :class => "button_medium" %>
      </div>

      <div class="one_first first_column">
        <h2>Responsables y coordinadores</h2>
      </div>


      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_2.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Alícia Gómez</h4>
              <p class="person_subtitle">Coordinadora</p>
            </header>
            <p>We have created a visual drag&rsquo;n&rsquo;drop content editor to make website management be easy as a game -simply pull your content parts back and forth through the page, easily resize and edit.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_3.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Anne Massadier</h4>
              <p class="person_subtitle">Responsable producción</p>
            </header>
            <p>Riviera is a Theme for Wordpress that offers a lot of benefits for those who seek to create a website that will reflect individual style, feature the most up-to-date design and functionality.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_4.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Susana Munuera</h4>
              <p class="person_subtitle">Surpervisora</p>
            </header>
            <p>Riviera was created by professionals that have done a great job of extending a standard Wordpress CMS by many custom features to turn it into a great website management tool.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_5.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Mikel Ibarrola</h4>
              <p class="person_subtitle">Ayudante comunicación</p>
            </header>
            <p>Wordpress has never been so convenient in use and functional. Wrapped in a premium design, cmsmasters&rsquo; custom admin panel is a fantastic solution for your website.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_4.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Tomàs Vallés</h4>
              <p class="person_subtitle">Coordinador</p>
            </header>
            <p>Riviera was created by professionals that have done a great job of extending a standard Wordpress CMS by many custom features to turn it into a great website management tool.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_5.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Fernando</h4>
              <p class="person_subtitle">Ayudante comunicación</p>
            </header>
            <p>Wordpress has never been so convenient in use and functional. Wrapped in a premium design, cmsmasters&rsquo; custom admin panel is a fantastic solution for your website.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>
      <div class="one_half first_column">
        <article class="person_block">
          <figure>
            <img alt="" class="max_width" src="/assets/vendor/riviera/images/img/about_4.jpg" />
          </figure>
          <div class="person_info">
            <header class="entry-header person_header">
              <h4 class="person_title">Marina González</h4>
              <p class="person_subtitle">Coordinadora</p>
            </header>
            <p>Riviera was created by professionals that have done a great job of extending a standard Wordpress CMS by many custom features to turn it into a great website management tool.</p>
            <footer class="entry-meta person_footer">
              <a href="#" title="Twitter" target="_blank">Twitter</a>,
              <a href="#" title="Facebook" target="_blank">Facebook</a>
            </footer>
          </div>
        </article>
      </div>

      <div class="cl"></div>


    </div>
  </div>
</section>
