<% title t("views.pages.contributors.title") %>

<section id="middle_content">
  <div class="entry">
    <div class="cmsms_cc">
      <div class="one_first first_column">
        <h2><%= t("views.pages.sponsors.title") %></h2>
      </div>

      <div class="one_half first_column">
        <a href="http://cefmallorca.com" target="_blank">
          <article class="person_block">
            <figure>
              <img class="max_width" src="/assets/app/front/img/logos/cef.png" />
            </figure>
            <div class="person_info">
              <header class="entry-header person_header">
                <h4 class="person_title">CEF</h4>
              </header>
            </div>
          </article>
        </a>
      </div>

      <div class="one_half">
        <a href="http://www.losoficiosterrestres.com" target="_blank">
          <article class="person_block">
            <figure>
              <img class="max_width" src="/assets/app/front/img/logos/los_oficios_terrestres.png" />
            </figure>
            <div class="person_info">
              <header class="entry-header person_header">
                <h4 class="person_title">Los Oficios Terrestres</h4>
              </header>
            </div>
          </article>
        </a>
      </div>

      <div class="one_half first_column">
        <a href="http://laperiferica.com" target="_blank">
          <article class="person_block">
            <figure>
              <img class="max_width" src="/assets/app/front/img/logos/la_periferica.png" />
            </figure>
            <div class="person_info">
              <header class="entry-header person_header">
                <h4 class="person_title">La Periférica</h4>
              </header>
            </div>
          </article>
        </a>
      </div>

      <div class="one_half">
        <a href="http://www.estudizeroteatre.com/escola_cursos.php" target="_blank">
          <article class="person_block">
            <figure>
              <img class="max_width" src="/assets/app/front/img/logos/sans.png" />
            </figure>
            <div class="person_info">
              <header class="entry-header person_header">
                <h4 class="person_title">Escola d'Arts Escèniques</h4>
              </header>
            </div>
          </article>
        </a>
      </div>

      <div class="one_first first_column">
        <h2><%= t("views.pages.contributors.title") %></h2>
      </div>

      <div class="one_half first_column">
        <a href="https://www.filmin.es/" target="_blank">
          <article class="person_block">
            <figure>
              <img class="max_width" src="/assets/app/front/img/logos/filmin.png" />
            </figure>
            <div class="person_info">
              <header class="entry-header person_header">
                <h4 class="person_title">Filmin</h4>
              </header>
            </div>
          </article>
        </a>
      </div>

      <div class="one_half">
        <a href="http://normacomicsnuredduna.blogspot.de/" target="_blank">
          <article class="person_block">
            <figure>
              <img class="max_width" src="/assets/app/front/img/logos/norma.png" />
            </figure>
            <div class="person_info">
              <header class="entry-header person_header">
                <h4 class="person_title">Norma Comics</h4>
              </header>
            </div>
          </article>
        </a>
      </div>

      <div class="one_half first_column">
        <a href="http://www.palmajove.es/portal/PALMAJOVE/home.jsp?codResi=4" target="_blank">
          <article class="person_block">
            <figure>
              <img class="max_width" src="/assets/app/front/img/logos/ajuntament_palma.png" />
            </figure>
            <div class="person_info">
              <header class="entry-header person_header">
                <h4 class="person_title">Ajuntament de Palma</h4>
              </header>
            </div>
          </article>
        </a>
      </div>

      <div class="one_half">
        <a href="https://sites.google.com/site/asociacionceliacosbaleares/" target="_blank">
          <article class="person_block">
            <figure>
              <img class="max_width" src="/assets/app/front/img/logos/acib.png" />
            </figure>
            <div class="person_info">
              <header class="entry-header person_header">
                <h4 class="person_title">Asociacion Celiacos Baleares</h4>
              </header>
            </div>
          </article>
        </a>
      </div>

      <div class="cl"></div>


    </div>
  </div>
</section>
