<% title "Los cortos" %>


<div class="pj_sort_block">
  <div class="pj_options_loader" style="display: none;"></div>
  <div class="pj_options_block" style="display: block;">
    <div class="pj_sort">
      <a class="button_small" href="#" title="Name" name="pj_name"><span>Título</span></a>
      <a class="button_small current reversed" href="#" title="Date" name="pj_date"><span>Fecha</span></a>
    </div>
    <div class="cl"></div>
  </div>
</div>

<section id="middle_content">
  <div class="entry-summary">
    <section class="portfolio three_columns">
      <article class="project format-album hentry" data-category="branding typography">
        <div class="project_inner">
          <div class="media_box">
            <figure>
              <a href="film.html" class="preloader">
                <img class="fullwidth" src="/assets/vendor/riviera/images/img/portfolio_4_1.jpg" alt="" />
              </a>
            </figure>
          </div>
          <header class="entry-header">
            <h4 class="entry-title">
              <a href="film.html">Single Image</a>
            </h4>
          </header>
          <footer class="entry-meta">
            <span class="cmsms_category"><a href="#">Branding</a>, <a href="#">Typography</a></span>
            <span class="meta-date">20130401113050</span>
          </footer>
        </div>
      </article>
      <article class="project format-album hentry" data-category="hi-tech typography">
        <div class="project_inner">
          <div class="media_box">
            <figure>
              <a href="project.html" class="preloader">
                <img class="fullwidth" src="/assets/vendor/riviera/images/img/portfolio_4_2.jpg" alt="" />
              </a>
            </figure>
          </div>
          <header class="entry-header">
            <h4 class="entry-title">
              <a href="project.html">Project</a>
            </h4>
          </header>
          <footer class="entry-meta">
            <span class="cmsms_category"><a href="#">Hi-tech</a>, <a href="#">Typography</a></span>
            <span class="meta-date">20130401113053</span>
          </footer>
        </div>
      </article>
      <article class="project format-album hentry" data-category="branding typography">
        <div class="project_inner">
          <div class="media_box">
            <figure>
              <a href="project.html" class="preloader">
                <img class="fullwidth" src="/assets/vendor/riviera/images/img/portfolio_4_3.jpg" alt="" />
              </a>
            </figure>
          </div>
          <header class="entry-header">
            <h4 class="entry-title">
              <a href="project.html">Images Album</a>
            </h4>
          </header>
          <footer class="entry-meta">
            <span class="cmsms_category"><a href="#">Branding</a>, <a href="#">Typography</a></span>
            <span class="meta-date">20130401113052</span>
          </footer>
        </div>
      </article>
      <article class="project format-video hentry" data-category="branding hi-tech">
        <div class="project_inner">
          <div class="media_box">
            <div class="wrap_video">
              <div class="resizable_block">
                <iframe src="http://www.youtube.com/embed/2kmgdRJnonw?rel=0&amp;showinfo=0&amp;hd=1&amp;fs=1&amp;wmode=transparent" class="fullwidth" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <header class="entry-header">
            <h4 class="entry-title">
              <a href="project_video.html">Video Project</a>
            </h4>
          </header>
          <footer class="entry-meta">
            <span class="cmsms_category"><a href="#">Branding</a>, <a href="#">Hi-Tech</a></span>
            <span class="meta-date">20130401113051</span>
          </footer>
        </div>
      </article>
      <article class="project format-slider hentry" data-category="branding typography">
        <div class="project_inner">
          <div class="media_box">
            <div class="shortcode_slideshow" id="slideshow_1">
              <div class="shortcode_slideshow_body">
                <script type="text/javascript">
                  jQuery(document).ready(function () {
                    jQuery('#slideshow_1 .shortcode_slideshow_slides').cmsmsResponsiveContentSlider( {
                      sliderWidth : '100%',
                      sliderHeight : 'auto',
                      animationSpeed : 500,
                      animationEffect : 'slide',
                      animationEasing : 'easeInOutExpo',
                      pauseTime : 0,
                      activeSlide : 1,
                      touchControls : true,
                      pauseOnHover : false,
                      arrowNavigation : false,
                      slidesNavigation : true
                    } );
                  } );
                </script>
                <div class="shortcode_slideshow_container">
                  <ul class="shortcode_slideshow_slides responsiveContentSlider">
                    <li>
                      <figure>
                        <img src="/assets/vendor/riviera/images/img/portfolio_4_5.jpg" alt="Slide 1" class="fullwidth" />
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="/assets/vendor/riviera/images/img/portfolio_4_6.jpg" alt="Slide 2" class="fullwidth" />
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="/assets/vendor/riviera/images/img/portfolio_4_7.jpg" alt="Slide 3" class="fullwidth" />
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="/assets/vendor/riviera/images/img/portfolio_4_8.jpg" alt="Slide 3" class="fullwidth" />
                      </figure>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <header class="entry-header">
            <h4 class="entry-title">
              <a href="project_slider.html">Slider</a>
            </h4>
          </header>
          <footer class="entry-meta">
            <span class="cmsms_category"><a href="#">Branding</a>, <a href="#">Hi-Tech</a></span>
            <span class="meta-date">20130401113058</span>
          </footer>
        </div>
      </article>
      <article class="project format-video hentry" data-category="branding hi-tech">
        <div class="project_inner">
          <div class="media_box">
            <figure>
              <a href="project_video.html" class="preloader">
                <img class="fullwidth" src="/assets/vendor/riviera/images/img/portfolio_4_9.jpg" alt="" />
              </a>
            </figure>
          </div>
          <header class="entry-header">
            <h4 class="entry-title">
              <a href="project_video.html">Multiple Media</a>
            </h4>
          </header>
          <footer class="entry-meta">
            <span class="cmsms_category"><a href="#">Branding</a>, <a href="#">Hi-tech</a></span>
            <span class="meta-date">20130401113059</span>
          </footer>
        </div>
      </article>
    </section>
  </div>
</section>
