<% title t("views.pages.send_short_film.title") %>

<section id="middle_content">
  <div class="entry">
    <div class="cmsms_cc">

      <div class="one_first first_column">
        <h3><%= t("views.pages.send_short_film.why_title") %></h3>
      </div>

      <div class="one_first first_column">
        <%= t("views.pages.send_short_film.why_text").to_md %>
      </div>

      <div class="one_first first_column">
        <h3><%= t("views.pages.send_short_film.instructions_title") %></h3>
      </div>

      <div class="one_first first_column">
        <%= t("views.pages.send_short_film.instructions_text").to_md %>
      </div>

      <div class="cl"></div>


    </div>
  </div>
</section>
