<h2><%= t("views.short_films.new.title_school") %></h2>
<p><%= t("views.short_films.new.school_help_text") %></p>

<div class="form_info cmsms_input">
  <%= f.label :school_name %>
  <%= f.text_field :school_name, :size => "22" %>
</div>
