<h2><%= t("views.short_films.new.title_script_embed") %></h2>

<div class="form_info cmsms_textarea">
  <%= f.label :script_embed %>
  <%= f.text_area :script_embed, :cols => "28", :rows => "6", :placeholder => "Script from youtube, vimeo, blip.tv, ... Si no entiendes este campo o no tienes el corto subido a ninguna plataforma de vídeos no te preocupes nosotras lo añadiremos." %>
</div>
