<footer id="footer">
  <div class="footer_inner">
    <span class="copyright">KontraBando Film Festival &copy; 2014</span>
    <ul class="footer_nav">
      <li>
        <%= link_to "http://cineciutat.org" do %>
          <img height="80px" src="/assets/app/front/img/logos/cineciutat.png" />
        <% end %>
      </li>

      <li>
        <%= link_to "http://xarxacinema.org" do %>
          <img height="80px" src="/assets/app/front/img/logos/xarxa.png" />
        <% end %>
      </li>

      <li>
        <%= link_to "http://www.europa-cinemas.org" do %>
          <img height="80px" src="/assets/app/front/img/logos/europa_cinema_white.png" />
        <% end %>
      </li>

      <li><%= link_to t("views.menu.contact"), "mailto:info@kontrabandofilmfestival.org" %></li>
    </ul>
  </div>
</footer>