<% title @short_film_user.title %>

<section id="middle_content">
  <div class="entry">
    <section class="opened-article">
      <%= render :partial => "front/short_film_users/short_film_user", :locals => { :short_film_user => @short_film_user } %>

      <div class="divider"></div>

      <aside class="project_navi">
        <span class="fl">
          <% if @short_film_user.previous %>
            <%= link_to t("views.short_films.show.button_short_film_preview"), [:front, @short_film_user.previous] %>
          <% end %>
        </span>
        <span class="fr">
          <% if @short_film_user.next %>
            <%= link_to t("views.short_films.show.button_short_film_next"), [:front, @short_film_user.next] %>
          <% end %>
        </span>
      </aside>

      <div class="cl"></div>
    </section>
  </div>
</section>
